# Knihovny

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Načtení CSV souborů

In [428]:
clicks = pd.read_csv('./data/clicks.csv',sep=',', engine='python')
visits = pd.read_csv('./data/visitors.csv',sep=';', engine='python')
streams = pd.read_csv('./data/Clickstreams.csv',sep=';', engine='python')
se_map = pd.read_csv('./data/search_engine_map.csv',sep=',', engine='python')
print("zmena")

zmena

# Průměrný Conversion rate a bounce rate

In [ ]:
# conversion rate
conv_visitIDs = clicks.loc[clicks['PageName'] == 'n_katalog.asp'].VisitID.unique()
all_visitIDs = clicks.VisitID.unique()
conv_rate = conv_visitIDs.shape[0] / all_visitIDs.shape[0]
print("Průměrný converion rate:\t{}".format(round(conv_rate,4)))

# bounce rate
bounce_visitIDs = visits.loc[visits['Delka_pocetstranek'] == 1].VisitID
bounce_rate = bounce_visitIDs.shape[0] / all_visitIDs.shape[0]
print("Průměrný bounce rate:\t\t{}".format(round(bounce_rate,4)))

# "Bounce pages"

In [420]:
bounce_clicks = clicks.loc[clicks['VisitID'].isin(bounce_visitIDs)]
bounce_pages = bounce_clicks.groupby(['PageName']).size().sort_values(ascending=False)
bounce_pages = bounce_pages.to_frame()
bounce_pages.columns = ['count']
bounce_pages
#bounce_pages.head(10)

                                                    count
PageName
www.poznani.cz                                       2597
poznani.cz                                            198
lastminute                                            116
bulharsko                                             106
skotsko-velk�-okruh-skotskem.htm                       96
...                                                   ...
irsko-wales-irsko-zem�-keltsk�ch-tradic-a-p��ro...      1
s�zava-romantick�-�eka.htm                              1
irsko-pi?ky-z�padem-irska-dovolen�-2005.htm             1
tunisko-zemi-datl�-mooe-a-p�sku.htm                     1
+lastminute&hl=cs&lr=lang_cs                            1

[735 rows x 1 columns]

# Vztah typu refereru vůči bounce a convergence rate

In [421]:
visits['Bounce'] = visits['VisitID'].isin(bounce_visitIDs).astype(int)
visits['Konverze'] = visits['VisitID'].isin(conv_visitIDs).astype(int)

merged = pd.merge(
    visits[['VisitID','Referrer','Bounce','Konverze']],
    se_map[['Referrer','TypOdkazovace']],
    on='Referrer')[['VisitID','Referrer','TypOdkazovace','Bounce','Konverze']] 

grouped = merged.drop(['VisitID','Referrer'],axis=1).groupby(['TypOdkazovace']).agg({'TypOdkazovace': ['count'], 'Bounce': ['sum'],'Konverze': ['sum']})
grouped['Bounce rate %'] = round((grouped['Bounce']['sum'] / grouped['TypOdkazovace']['count'])*100,2)
grouped['Convergence rate %'] = round( (grouped['Konverze']['sum'] / grouped['TypOdkazovace']['count'])*100,2)
grouped

,TypOdkazovace,Bounce,Konverze,Bounce rate %,Convergence rate %
,count,sum,sum,,
TypOdkazovace,,,,,
Fulltext,7168,4921,168,68.65,2.34
Neni,5821,2790,314,47.93,5.39
OstatniNerozliseno,402,160,17,39.80,4.23
Partneri,580,278,39,47.93,6.72
Vlastni Weby,824,558,12,67.72,1.46
katalog,764,208,70,27.23,9.16

# Tabulka korelací

In [422]:
merged.drop(['VisitID'],axis=1).assign(TypOdkazovace=merged.TypOdkazovace.astype('category').cat.codes).corr()

               TypOdkazovace    Bounce  Konverze
TypOdkazovace       1.000000 -0.156028  0.058699
Bounce             -0.156028  1.000000 -0.188155
Konverze            0.058699 -0.188155  1.000000