In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [140]:
clicks = pd.read_csv('clicks.csv',sep=',', engine='python')
visits = pd.read_csv('visitors.csv',sep=';', engine='python')
streams = pd.read_csv('Clickstreams.csv',sep=';', engine='python')
se_map = pd.read_csv('search_engine_map.csv',sep=',', engine='python')

* Konverzní poměr, bounce rate
* Četnosti stránek v roli bounce page
* Korelaci typu referreru s výskytem konverze a bounce (jako podmíněné četnosti, vypočtené oběma směry)

In [90]:
# conversion rate
conv_visitIDs = clicks.loc[clicks['PageName'] == 'n_katalog.asp'].VisitID.unique()
all_visitIDs = clicks.VisitID.unique()
conv_rate = conv_visitIDs.shape[0] / all_visitIDs.shape[0]
conv_rate

0.03984575835475578

In [99]:
# bounce rate
bounce_visitIDs = visits.loc[visits['Delka_pocetstranek'] == 1].VisitID
bounce_rate = bounce_visitIDs.shape[0] / all_visitIDs.shape[0]
bounce_rate

0.5729434447300771

In [161]:
# bounce pages
bounce_clicks = clicks.loc[clicks['VisitID'].isin(bounce_visitIDs)]
bounce_pages = bounce_clicks.groupby(['PageName']).size().sort_values(ascending=False)
bounce_pages = bounce_pages.to_frame()
bounce_pages.columns = ['count']
bounce_pages
#bouce_pages.head(10)

                                                    count
PageName
www.poznani.cz                                       2597
poznani.cz                                            198
lastminute                                            116
bulharsko                                             106
skotsko-velk�-okruh-skotskem.htm                       96
...                                                   ...
irsko-wales-irsko-zem�-keltsk�ch-tradic-a-p��ro...      1
s�zava-romantick�-�eka.htm                              1
irsko-pi?ky-z�padem-irska-dovolen�-2005.htm             1
tunisko-zemi-datl�-mooe-a-p�sku.htm                     1
+lastminute&hl=cs&lr=lang_cs                            1

[735 rows x 1 columns]

In [173]:
# korelace
# merguju visits (tam je pocet stránek (bounce)) a streams (tam je konverze) a se_map, tam je typ refereru

       VisitID Referrer      Den  Hodina  Delka_sekundy  Delka_pocetstranek
0         1185    URI_9   Sunday      23              0                   6
1         1186   URI_38   Sunday      23            300                   2
2         1187    URI_0   Sunday      23            240                  12
3         1188   URI_45   Monday       0              0                   1
4         1189    URI_0   Monday       0            540                   7
...        ...      ...      ...     ...            ...                 ...
15554    17261    URI_5  Tuesday      14              0                   1
15555    17262  URI_111  Tuesday      14              0                   1
15556    17263  URI_111  Tuesday      14              0                   1
15557    17264   URI_45  Tuesday      14            240                   5
15558    17265    URI_0  Tuesday      14            360                   5

[15559 rows x 6 columns]